<footer class="footer">
	<div class="container">
		<div class="footer__container flex">
			<a class="footer__logo" href="#top">
				<img
					src="/images/header/logo.svg"
					alt="Логотип"
					class="header__logo-img"
				/>
			</a>
			<address class="footer__address">
				<ul class="footer__list flex">
					<li class="footer__item">
						<h3 class="footer__heading">Адрес</h3>
						<p class="footer__desc">Красный пр-т. 31</p>
					</li>
					<li class="footer__item">
						<h3 class="footer__heading">График работы</h3>
						<div class="footer__date flex">
							<span class="footer__span"> Пн-Пт 8:00&nbsp;&mdash; 21:00 </span>
							<span class="footer__span"> Сб-Вс 9:00&nbsp;&mdash; 21:00 </span>
						</div>
					</li>
				</ul>
			</address>
		</div>
	</div>
</footer>
