<header class="header">
	<div class="container">
		<div class="header__container flex">
			<a class="header__logo" href="#top">
				<img
					src="/images/header/logo.svg"
					alt="Логотип"
					class="header__logo-img"
				/>
			</a>

			<address class="header__social flex">
				<a href="https://t.me/taetcafe" class="header__social-link">
					<svg class="header__social-svg">
						<use xlink:href="/__spritemap#sprite-telegram"></use>
					</svg>
				</a>
				<a
					href="https://wa.me/79139420946?text=Здравствуйте!"
					class="header__social-link"
				>
					<svg class="header__social-svg">
						<use xlink:href="/__spritemap#sprite-whatsapp"></use>
					</svg>
				</a>
			</address>
		</div>
	</div>
</header>
