<section class="hero">
	<div class="container">
		<div class="hero__container flex">
			<h2 class="hero__heading">
				Создаем торты на&nbsp;заказ <br />с&nbsp;вашим дизайном
			</h2>
		</div>
	</div>
</section>
