<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="ТАЕТ" />
		<meta
			property="og:description"
			content="Создаем торты на&nbsp;заказ с&nbsp;вашим дизайном"
		/>
		<meta
			property="og:image"
			content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fru.freepik.com%2Fphotos%2F%25D0%25BA%25D0%25B0%25D1%2580%25D1%2582%25D0%25B8%25D0%25BD%25D0%25BA%25D0%25B8&psig=AOvVaw1qXdDooUbZqnr9W6Ze3Vtg&ust=1727181541793000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPiIn--K2YgDFQAAAAAdAAAAABAE"
		/>

		<title>TAET</title>
		<link rel="icon" href="/images/favicon/favicon.webp" />
	</head>
	<body>
		<%- include('./sections/header.ejs') %>
		<main class="main">
			<%- include('./sections/hero.ejs') %> <%-
			include('./sections/product.ejs') %> <%- include('./sections/footer.ejs')
			%>
		</main>
		<script type="module" src="./src/js/main.js"></script>
	</body>
</html>
