<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TAET</title>
		<link rel="icon" href="/images/favicon/favicon.webp" />
		<!--  -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="taetcafe" />
		<meta
			property="og:description"
			content="оздаем торты на&nbsp;заказ с&nbsp;вашим дизайном"
		/>
		<meta
			property="og:image"
			content="https://storypages.github.io/taet/images/hero/hero.JPG"
		/>
		<meta property="og:url" content="https://storypages.github.io/taet/" />
		<meta property="og:site_name" content="TAET" />
		<meta property="og:see_also" content="https://storypages.github.io/taet/" />
		<!--  -->
	</head>
	<body>
		<%- include('./sections/header.ejs') %>
		<main class="main">
			<%- include('./sections/hero.ejs') %> <%-
			include('./sections/product.ejs') %> <%- include('./sections/footer.ejs')
			%>
		</main>
		<script type="module" src="./src/js/main.js"></script>
	</body>
</html>
