<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta itemprop="name" content="TAET" />
		<meta
			itemprop="description"
			content="Создаем торты на заказ с вашим дизайном"
		/>
		<meta itemprop="image" content="/images/hero/hero.JPG" />
		<title>TAET</title>
		<link rel="icon" href="/images/favicon/favicon.webp" />
	</head>
	<body>
		<%- include('./sections/header.ejs') %>
		<main class="main">
			<%- include('./sections/hero.ejs') %> <%-
			include('./sections/product.ejs') %> <%- include('./sections/footer.ejs')
			%>
		</main>
		<script type="module" src="./src/js/main.js"></script>
	</body>
</html>
