// Fonts
$font-main: 'Poiret One';
$font-size-desc: clamp(1rem, 0.572rem + 2.14vw, 1.6rem);

// Colors
$background-color: #F1EEE6;
$main-color: #968c83;
$white: #ffffff;
$black: #000000;
$gray: #d1d1d1;

// SVG-SOCIAL
$logo-size: clamp(5rem, 2.862rem + 10.69vw, 8rem);

// Border-radius
$radius-2: 2rem;
